APScheduler==2.1.2
Django==1.8.4
SQLAlchemy==1.0.8
argparse==1.2.1
dj-database-url==0.3.0
django-postgrespool==0.3.0
django-request==1.4.0
futures==3.0.3
gunicorn==19.3.0
psycopg2==2.6.1
pytz==2015.6
six==1.10.0
tzlocal==1.2
whitenoise==2.0.3
wsgiref==0.1.2
