{% extends 'mathtutor/base.html' %}

{% block title %}{{category.1}}{% endblock %}
{% block content %}
<script>
$(document).ready(function() {
	$('.custom-badge').tooltip();
	});
</script>
<div class="col-md-8 col-md-pull-4">
	<div class="alert alert-gray">
    	<strong>Don't see your latest progress?</strong><br><strong>RANKS AND LEVELS USUALLY TAKE 10MIN TO UPDATE ON THE WEBSITE</strong><br>So don't worry!
	</div>
	{% for quiz in quizList %}
	{% with results=quiz.get_results %}
	<div class="panel panel-custom" id="Thumb_{{ category.0 }}">
		<div class="panel-heading">
            <a href='http://byu.qualtrics.com/SE/?SID={{ quiz.q_id }}'>Quiz {{ forloop.counter }}</a>{% if results.quizPassed %}<span id="success" style="float:right;" class="custom-badge" data-toggle='tooltip' data-placement="right" data-title="Passed!"><span class="glyphicon glyphicon-ok" style="padding: 3px;"></span></span>{% endif %}
        </div>
        <div class="panel-body">
	        {% if results.attempted %}
            <div class="progress">
                <div class="progress-bar" {% if results.quizPassed %} id="success" {% else %} id="notsuccess" {% endif %} role="progressbar" aria-valuenow="{{ q.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ q.percentage }}%">
                    {% if not results.quizPassed %}<a style="color: white; font-style: none;" href='http://byu.qualtrics.com/SE/?SID={{ q.q_id }}'>{% endif %}
                    High Score: {{ results.highScore }} / {% if category.0 == 'amc' %}4{% else %}6{% endif %}
                    {% if not results.quizPassed %}</a>{% endif %}
                </div>
            </div>
            <p>Attempts: <span {% if q.quizPassed %} id="success" {% endif %} class="custom-badge">{{ q.attempts }}</span>{% if not q.quizPassed %}<span> REMEMBER: You can try a quiz as many times as you need to pass it off{% endif %}</p></span>
	        {% else %}
                <div class="alert alert-warning">
                   <a href='http://byu.qualtrics.com/SE/?SID={{ q.id }}'>
						You haven't tried this quiz yet, try it now so you can advance a level!
					</a>
                </div>
        	{% endif %}
        </div>
    </div>
{% endwith %}
{% endfor %}
</div>
{% endblock %}
